@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .sidenav {
    display: none;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1600px) {
  .sidenav1 {
    display: none;
  }
}
.iconinput {
  position: relative;
}

.eyeicon {
  position: absolute;
  right: 15px;
  font-size: 20px;
  top: 15px;
  cursor: pointer;
}